canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.mono-space {
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    font-size: small;
}

.chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding: 4px;
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.btn-ssm {
    padding: .2rem 0.3rem .3rem .3rem ;
    font-size: .9rem;
    line-height: 1rem;
    border-radius: .1rem
}